<h1>Libro</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
          <div class="row">
              <div class="col-sm-6 col-md-8">
                  <h4>{{VM.Elemento.titulo}}</h4>
                  <p><i class="fas fa-user  mr-2"></i> Autor: {{VM.Elemento.autor}}</p>
                  <p>
                      <i class="fas fa-flag mr-2"></i> {{VM.Elemento.pais}}
                      <br />
                      <i class="fas fa-envelope mr-2"></i> Fecha: {{VM.Elemento.fecha}}

                      <br />
                      <i class="fas fa-file-text-o mr-2"></i> Páginas: {{VM.Elemento.paginas}}
                  </p>
                  <div class="btn-group">
                      <button type="button" class="btn btn-info">
                         <a href="{{VM.Elemento.wiki}}">Wikipedia</a></button>


                      <button type="button" class="btn btn-secondary" (click)="VM.cancel()">Volver</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
