<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <a class="link-secondary" href="#">Subscribe</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="link-secondary" href="#" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
      </a>
      <a class="btn btn-sm btn-outline-secondary" routerlink="add">Sign up</a>
    </div>
  </div>
</header>


<div *ngFor="let item of VM.Listado | paginate: { itemsPerPage: 10, currentPage: page }" >
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <img
                class="rounded-circle float-left"
                src="{{ item.fotourl }}"
                alt="Foto de {{ item.titulo}}"
                width="175"
                height="175"
              />
      <h1 class="display-4 fst-italic"> <a
        type="button"
        class="btn btn-link btn-lg px-0"
        routerLink="{{item.id}}/{{item.titulo}}"
      >
        {{ item.titulo }}
    </a></h1>
    <b>Autor:</b> {{ item.autor}} <b>Fecha:</b> {{ item.fecha }}
      <p class="lead my-3">{{item.texto|elipsis:50 }}</p>
      <p class="lead mb-0"><a [routerLink]="[item.id,'view']" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
  </div>
<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


