<article class="blog-post">
  <h2 class="blog-post-title">{{ VM.Elemento.titulo }}</h2>
  <p class="blog-post-meta">
    {{ VM.Elemento.fecha
    }} by
    <i class="fas fa-user mr-2">{{ VM.Elemento.autor }} </i>
  </p>
  <img
    src="{{ VM.Elemento.fotourl }}"
    alt="Foto de {{ VM.Elemento.titulo }}"
    class="rounded"
    width="175"
    height="175"
  />

  <p>{{ VM.Elemento.texto }}</p>

 <i class="fas fa-smile-o mr-2"></i>
 <button type="button" *ngIf="VM.auth.isAutenticated" class="btn btn-info" (click)="VM.megusta(VM.Elemento.megusta)">
   Me gusta {{VM.Elemento.megusta}}
 </button>
  <input
    class="btn btn-secondary"
    type="button"
    value="Volver"
    (click)="VM.cancel()"
  />
</article>
